// Specifications
html,
body {
	height: 100%;
	box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.3em;
  color: $main-color;
  font-family: $font-family;
  font-size: 16px;
  font-weight: $regular;
  background-color: $light-color;
  @media (max-width: 767px) {
    font-size: 14px;
  }
}
body.hidden {
  overflow: hidden
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.container{
  padding: 0 var(--container-offset);
  max-width: var(--container-width);  
  margin: 0 auto;  
}
.container-lg {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-fluid-width);
}
h1, h2, h3, h4, h5, h6 { 
  font-family: $font-family; 
}
h1 {
  color: $light-color;
  font-weight: $extrabold;
  font-size: 72px;
  line-height: 98px;
  @media (max-width: 767px) {
    font-size: 60px;
    line-height: 70px;
  }
  @media (max-width: 575px) {
    font-size: 45px;
    line-height: 56px;
  }
}
h2 {
  font-weight: $extrabold;
  color: $title-color;
  font-size: 48px;
  line-height: 64px;
  max-width: 370px;
  @media (max-width: 575px) {
    font-size: 37px;
    line-height: 56px;
  }
}
h3 {
  font-weight: $bold;
  color: $main-color;
  font-size: 24px;
  line-height: 32px;  
}
h4 {
  font-size: 20px;
  line-height: 30px;
  font-weight: $medium;
  color: $main-color;
}






