// About
.about {
  &__wrapper  {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0px;
  }
  &__left {
    padding-top: 20px;
    grid-column: 5 span;
    &-img {
      margin-top: 70px;
      height: 469px;
      img {
        object-fit: contain;
      }
      @media (max-width: 1199px) {
        width: max-content;
      }
      @media (max-width: 991px) {
        width: 100%;
        height: auto;
      }
      @media (max-width: 575px) {
        margin-top: 40px;
      }
    }
    .about__text-wrapper {
      padding-right: 22px;
    }
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    @media (max-width: 767px) {
      grid-column: 12 span;
    }
  }
  &__right {
    padding-left: 20px;
    grid-column: 6;
    grid-column-start: 7;
    grid-column-end: 13;  
    .about__right-img {
      height: 470px;
      margin-bottom: 45px;
      @media (max-width: 991px) {
        height: auto;
      }
      @media (max-width: 767px) {
        order: 2;
        margin-top: 70px;
      }
      @media (max-width: 575px) {
        margin-top: 40px;
      }
    }
    .about__title {
     max-width: 100%;
     margin-bottom: 30px;
     @media (max-width: 767px) {
       margin-top: 50px;
     }
    }
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    @media (max-width: 767px) {
      grid-column: 12 span;
      padding-left: 0;
    }
  }
  &__title {
    margin-bottom: 40px;
  }
  &__text-wrapper {
    p {   
      line-height: 26px;
    }
    p:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}
.about__bg-round {
  position: relative;
  z-index: 1;
  img {
    width: 100%;
  }
  width: 100%;
}
.about__bg-wrapper {
  background-color: $green-color-light;
  padding-bottom: 100px;
  @media (max-width: 575px) {
    padding-bottom: 60px;
  }
}