// Benefits
.benefits {
  padding-top: 100px;
  padding-bottom: 139px;
  &__container {
    position: relative;
  }
  &__title {
    margin-bottom: 60px;
    @media (max-width: 575px) {
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }
  &__list {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px 30px;
    @media (max-width: 1199px) {
      gap: 40px 20px;
    }
    @media (max-width: 575px) {
      gap: 25px 20px;
    }
  }
  &__item {
    grid-column: 3 span;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
      color: $title-color;
      text-transform: uppercase;
      font-weight: $bold;      
      line-height: 32px;
      margin-bottom: 5px;
    }
    &-text {
      max-width: 244px;
      margin: 0 auto;
      text-align: center;
      font-weight: $light;
      font-size: 14px;
      line-height: 140%;
      color: $dark-color;
      @media (max-width: 575px) {
        font-size: 13px;
      }
    }
    @media (max-width: 767px) {
      grid-column: 4 span;
    }
    @media (max-width: 575px) {
      grid-column: 6 span;
    }
  }
  &__img {
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: $green-color-light;
    @include flex-all-center;
    margin-bottom: 5px;
  }
  @media (max-width: 575px) {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
.benefits__bg-img {
  position: absolute;
  top: -111px;
  left: -232px;
  width: 350px;
}
.benefits__title-container {
  position: relative;
  z-index: 1;
}
