// Footer
.footer {
  padding: 76px 0px 97px;
  color: $light-color;
  background-color: #3B3B3B;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);   
  }
  &__left {
    grid-column: 5 span;
  }
  &__right {
    grid-column: 6 span; 
    grid-column-start: 7;
    grid-column-end: 13;
    padding-left: 20px;
    padding-top: 5px;
  }
  &__title {
    color: $green-color-light;
    margin-bottom: 20px;
  }
  &__menu {
    font-weight: $medium;   
    line-height: 23px;
  }
  &__nav {
    &-list {
      display: flex;
    }
    &-item {
      position: relative;
      padding: 5px 0;
      &:not(:last-child) {
        margin-right: 50px;
      }
      &::after {
        transition: width 0.3s linear;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #FFC231;        
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }   
  }
  .logo {
    margin-bottom: 24px;
  }
  &__contacts-item {     
    font-weight: $medium;    
    line-height: 23px;
    color: #909090;
    transition: color 0.3s linear;
    &:hover {
      color: $light-color;
    }
  }
}
.socials {
  margin-top: 20px;
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 25px;
    }
    img {
      transition: opacity 0.3s linear;
      opacity: 0.5;
    }
    &:hover img {
      opacity: 1;
    }
  }
}