// Intro
.intro {
  padding-top: 100px;
  padding-bottom: 100px;
  height: calc(100vh - 70px);
  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__offer {
    padding-left: 100px;
  }
  &__title {
    max-width: 540px;
    margin-bottom: 16px;
  }
  &__descr {
    max-width: 390px;
    margin-bottom: 36px;
    color: $light-color;
    font-size: 18px;
    line-height: 32px;
  }
}